<suite name="JHipster Testing Suite" parallel="tests" thread-count="2">
    <test name="Registration Test">
    <parameter name="browserType" value="Chrome"/>
        <classes>
            <class name="com.epam.Tests.register.RegisterTest"/>
        </classes>
    </test>
    <test name="Login Tests">
        <parameter name="browserType" value="edge"/>
        <classes>
            <class name="com.epam.Tests.login.LoginTest"/>
        </classes>
    </test>
</suite>